.component-0000{color:#60e26e;background:#5fd551;padding:0px 0px;margin:0px;border-radius:0px}
.component-0001{color:#3968bd;background:#065f82;padding:1px 1px;margin:1px;border-radius:1px}
.component-0002{color:#f1f6cc;background:#cec1f3;padding:2px 2px;margin:2px;border-radius:2px}
.component-0003{color:#8a7d1b;background:#b54a24;padding:3px 3px;margin:3px;border-radius:3px}
.component-0004{color:#42fbaa;background:#7dcc95;padding:4px 4px;margin:4px;border-radius:4px}
.component-0005{color:#1b41f9;background:#2476c6;padding:5px 5px;margin:5px;border-radius:5px}
.component-0006{color:#d3c808;background:#ecff37;padding:6px 6px;margin:6px;border-radius:6px}
.component-0007{color:#ec5657;background:#d36168;padding:7px 7px;margin:7px;border-radius:7px}
.component-0008{color:#a4dce6;background:#9bebd9;padding:8px 8px;margin:8px;border-radius:8px}
.component-0009{color:#7d5b35;background:#426c0a;padding:9px 9px;margin:9px;border-radius:9px}
.component-0010{color:#35a144;background:#0a967b;padding:10px 10px;margin:10px;border-radius:10px}
.component-0011{color:#ce2f93;background:#f118ac;padding:11px 11px;margin:11px;border-radius:11px}
.component-0012{color:#86b622;background:#b9811d;padding:12px 12px;margin:12px;border-radius:12px}
.component-0013{color:#5f3c71;background:#600b4e;padding:13px 13px;margin:13px;border-radius:0px}
.component-0014{color:#17ba80;background:#288dbf;padding:14px 14px;margin:14px;border-radius:1px}
.component-0015{color:#2000cf;background:#1f37f0;padding:15px 15px;margin:15px;border-radius:2px}
.component-0016{color:#f88f1e;background:#c7b821;padding:16px 16px;margin:16px;border-radius:3px}
.component-0017{color:#b115ad;background:#8e2292;padding:17px 0px;margin:17px;border-radius:4px}
.component-0018{color:#4993fc;background:#76a4c3;padding:18px 1px;margin:18px;border-radius:5px}
.component-0019{color:#021a0b;background:#3d2d34;padding:19px 2px;margin:19px;border-radius:6px}
.component-0020{color:#db605a;background:#e45765;padding:20px 3px;margin:20px;border-radius:7px}
.component-0021{color:#93eee9;background:#acd9d6;padding:21px 4px;margin:21px;border-radius:8px}
.component-0022{color:#ac7538;background:#934207;padding:22px 5px;margin:22px;border-radius:9px}
.component-0023{color:#64f347;background:#5bc478;padding:23px 6px;margin:0px;border-radius:10px}
.component-0024{color:#3d7996;background:#024ea9;padding:24px 7px;margin:1px;border-radius:11px}
.component-0025{color:#f5c025;background:#caf71a;padding:25px 8px;margin:2px;border-radius:12px}
.component-0026{color:#8e4e74;background:#b1794b;padding:26px 9px;margin:3px;border-radius:0px}
.component-0027{color:#46d483;background:#79e3bc;padding:27px 10px;margin:4px;border-radius:1px}
.component-0028{color:#1f52d2;background:#2065ed;padding:28px 11px;margin:5px;border-radius:2px}
.component-0029{color:#d7d961;background:#e8ee5e;padding:0px 12px;margin:6px;border-radius:3px}
.component-0030{color:#e027b0;background:#df108f;padding:1px 13px;margin:7px;border-radius:4px}
.component-0031{color:#b8adff;background:#879ac0;padding:2px 14px;margin:8px;border-radius:5px}
.component-0032{color:#71340e;background:#4e0331;padding:3px 15px;margin:9px;border-radius:6px}
.component-0033{color:#09b25d;background:#368562;padding:4px 16px;margin:10px;border-radius:7px}
.component-0034{color:#c238ec;background:#fd0fd3;padding:5px 0px;margin:11px;border-radius:8px}
.component-0035{color:#9a873b;background:#a5b004;padding:6px 1px;margin:12px;border-radius:9px}
.component-0036{color:#530d4a;background:#6c3a75;padding:7px 2px;margin:13px;border-radius:10px}
.component-0037{color:#6b8b99;background:#54bca6;padding:8px 3px;margin:14px;border-radius:11px}
.component-0038{color:#241228;background:#1b2517;padding:9px 4px;margin:15px;border-radius:12px}
.component-0039{color:#fc9877;background:#c3af48;padding:10px 5px;margin:16px;border-radius:0px}
.component-0040{color:#b5e686;background:#8ad1b9;padding:11px 6px;margin:17px;border-radius:1px}
.component-0041{color:#4e6cd5;background:#715bea;padding:12px 7px;margin:18px;border-radius:2px}
.component-0042{color:#06eb64;background:#39dc5b;padding:13px 8px;margin:19px;border-radius:3px}
.component-0043{color:#df71b3;background:#e0468c;padding:14px 9px;margin:20px;border-radius:4px}
.component-0044{color:#97ffc2;background:#a8c8fd;padding:15px 10px;margin:21px;border-radius:5px}
.component-0045{color:#a04611;background:#9f712e;padding:16px 11px;margin:22px;border-radius:6px}
.component-0046{color:#78cca0;background:#47fb9f;padding:17px 12px;margin:0px;border-radius:7px}
.component-0047{color:#314aef;background:#0e7dd0;padding:18px 13px;margin:1px;border-radius:8px}
.component-0048{color:#c9d13e;background:#f6e601;padding:19px 14px;margin:2px;border-radius:9px}
.component-0049{color:#825f4d;background:#bd6872;padding:20px 15px;margin:3px;border-radius:10px}
.component-0050{color:#5aa59c;background:#6592a3;padding:21px 16px;margin:4px;border-radius:11px}
.component-0051{color:#132c2b;background:#2c1b14;padding:22px 0px;margin:5px;border-radius:12px}
.component-0052{color:#2baa7a;background:#149d45;padding:23px 1px;margin:6px;border-radius:0px}
.component-0053{color:#e43089;background:#db07b6;padding:24px 2px;margin:7px;border-radius:1px}
.component-0054{color:#bcbed8;background:#8389e7;padding:25px 3px;margin:8px;border-radius:2px}
.component-0055{color:#750567;background:#4a3258;padding:26px 4px;margin:9px;border-radius:3px}
.component-0056{color:#0d83b6;background:#32b489;padding:27px 5px;margin:10px;border-radius:4px}
.component-0057{color:#c609c5;background:#f93efa;padding:28px 6px;margin:11px;border-radius:5px}
.component-0058{color:#9e9014;background:#a1a72b;padding:0px 7px;margin:12px;border-radius:6px}
.component-0059{color:#571ea3;background:#68299c;padding:1px 8px;margin:13px;border-radius:7px}
.component-0060{color:#6064f2;background:#5f53cd;padding:2px 9px;margin:14px;border-radius:8px}
.component-0061{color:#38e301;background:#07d43e;padding:3px 10px;margin:15px;border-radius:9px}
.component-0062{color:#f16950;background:#ce5e6f;padding:4px 11px;margin:16px;border-radius:10px}
.component-0063{color:#89f79f;background:#b6c0a0;padding:5px 12px;margin:17px;border-radius:11px}
.component-0064{color:#427e2e;background:#7d4911;padding:6px 13px;margin:18px;border-radius:12px}
.component-0065{color:#1ac47d;background:#25f342;padding:7px 14px;margin:19px;border-radius:0px}
.component-0066{color:#d3428c;background:#ec75b3;padding:8px 15px;margin:20px;border-radius:1px}
.component-0067{color:#ebc8db;background:#d4ffe4;padding:9px 16px;margin:21px;border-radius:2px}
.component-0068{color:#a4576a;background:#9b6055;padding:10px 0px;margin:22px;border-radius:3px}
.component-0069{color:#7cddb9;background:#43ea86;padding:11px 1px;margin:0px;border-radius:4px}
.component-0070{color:#355bc8;background:#0a6cf7;padding:12px 2px;margin:1px;border-radius:5px}
.component-0071{color:#cda217;background:#f29528;padding:13px 3px;margin:2px;border-radius:6px}
.component-0072{color:#8628a6;background:#b91f99;padding:14px 4px;margin:3px;border-radius:7px}
.component-0073{color:#5eb6f5;background:#6181ca;padding:15px 5px;margin:4px;border-radius:8px}
.component-0074{color:#173d04;background:#280a3b;padding:16px 6px;margin:5px;border-radius:9px}
.component-0075{color:#2fbb53;background:#108c6c;padding:17px 7px;margin:6px;border-radius:10px}
.component-0076{color:#f801e2;background:#c736dd;padding:18px 8px;margin:7px;border-radius:11px}
.component-0077{color:#b08831;background:#8fbf0e;padding:19px 9px;margin:8px;border-radius:12px}
.component-0078{color:#491640;background:#76217f;padding:20px 10px;margin:9px;border-radius:0px}
.component-0079{color:#019c8f;background:#3eabb0;padding:21px 11px;margin:10px;border-radius:1px}
.component-0080{color:#da1ade;background:#e52de1;padding:22px 12px;margin:11px;border-radius:2px}
.component-0081{color:#93616d;background:#ac5652;padding:23px 13px;margin:12px;border-radius:3px}
.component-0082{color:#abefbc;background:#94d883;padding:24px 14px;margin:13px;border-radius:4px}
.component-0083{color:#6475cb;background:#5b42f4;padding:25px 15px;margin:14px;border-radius:5px}
.component-0084{color:#3cfc1a;background:#03cb25;padding:26px 16px;margin:15px;border-radius:6px}
.component-0085{color:#f57aa9;background:#ca4d96;padding:27px 0px;margin:16px;border-radius:7px}
.component-0086{color:#8dc0f8;background:#b2f7c7;padding:28px 1px;margin:17px;border-radius:8px}
.component-0087{color:#464f07;background:#797838;padding:0px 2px;margin:18px;border-radius:9px}
.component-0088{color:#1ed556;background:#21e269;padding:1px 3px;margin:19px;border-radius:10px}
.component-0089{color:#d753e5;background:#e864da;padding:2px 4px;margin:20px;border-radius:11px}
.component-0090{color:#efda34;background:#d0ed0b;padding:3px 5px;margin:21px;border-radius:12px}
.component-0091{color:#b82043;background:#87177c;padding:4px 6px;margin:22px;border-radius:0px}
.component-0092{color:#70ae92;background:#4f99ad;padding:5px 7px;margin:0px;border-radius:1px}
.component-0093{color:#093521;background:#36021e;padding:6px 8px;margin:1px;border-radius:2px}
.component-0094{color:#c1b370;background:#fe844f;padding:7px 9px;margin:2px;border-radius:3px}
.component-0095{color:#9a39bf;background:#a50e80;padding:8px 10px;margin:3px;border-radius:4px}
.component-0096{color:#5287ce;background:#6db0f1;padding:9px 11px;margin:4px;border-radius:5px}
.component-0097{color:#6b0e1d;background:#543922;padding:10px 12px;margin:5px;border-radius:6px}
.component-0098{color:#2394ac;background:#1ca393;padding:11px 13px;margin:6px;border-radius:7px}
.component-0099{color:#fc12fb;background:#c325c4;padding:12px 14px;margin:7px;border-radius:8px}
.component-0100{color:#b4990a;background:#8bae35;padding:13px 15px;margin:8px;border-radius:9px}
.component-0101{color:#4de759;background:#72d066;padding:14px 16px;margin:9px;border-radius:10px}
.component-0102{color:#066de8;background:#395ad7;padding:15px 0px;margin:10px;border-radius:11px}
.component-0103{color:#def437;background:#e1c308;padding:16px 1px;margin:11px;border-radius:12px}
.component-0104{color:#977246;background:#a84579;padding:17px 2px;margin:12px;border-radius:0px}
.component-0105{color:#aff895;background:#90cfaa;padding:18px 3px;margin:13px;border-radius:1px}
.component-0106{color:#784724;background:#47701b;padding:19px 4px;margin:14px;border-radius:2px}
.component-0107{color:#30cd73;background:#0ffa4c;padding:20px 5px;margin:15px;border-radius:3px}
.component-0108{color:#c94b82;background:#f67cbd;padding:21px 6px;margin:16px;border-radius:4px}
.component-0109{color:#81d1d1;background:#bee6ee;padding:22px 7px;margin:17px;border-radius:5px}
.component-0110{color:#5a5860;background:#656f5f;padding:23px 8px;margin:18px;border-radius:6px}
.component-0111{color:#12a6af;background:#2d9190;padding:24px 9px;margin:19px;border-radius:7px}
.component-0112{color:#2b2cfe;background:#141bc1;padding:25px 10px;margin:20px;border-radius:8px}
.component-0113{color:#e3ab0d;background:#dc9c32;padding:26px 11px;margin:21px;border-radius:9px}
.component-0114{color:#bc315c;background:#830663;padding:27px 12px;margin:22px;border-radius:10px}
.component-0115{color:#74bfeb;background:#4b88d4;padding:28px 13px;margin:0px;border-radius:11px}
.component-0116{color:#0d063a;background:#323105;padding:0px 14px;margin:1px;border-radius:12px}
.component-0117{color:#c58c49;background:#fabb76;padding:1px 15px;margin:2px;border-radius:0px}
.component-0118{color:#9e0a98;background:#a13da7;padding:2px 16px;margin:3px;border-radius:1px}
.component-0119{color:#569127;background:#69a618;padding:3px 0px;margin:4px;border-radius:2px}
.component-0120{color:#6f1f76;background:#502849;padding:4px 1px;margin:5px;border-radius:3px}
.component-0121{color:#386585;background:#0752ba;padding:5px 2px;margin:6px;border-radius:4px}
.component-0122{color:#f0e3d4;background:#cfd4eb;padding:6px 3px;margin:7px;border-radius:5px}
.component-0123{color:#896a63;background:#b65d5c;padding:7px 4px;margin:8px;border-radius:6px}
.component-0124{color:#41f0b2;background:#7ec78d;padding:8px 5px;margin:9px;border-radius:7px}
.component-0125{color:#1a7ec1;background:#2549fe;padding:9px 6px;margin:10px;border-radius:8px}
.component-0126{color:#d2c510;background:#edf22f;padding:10px 7px;margin:11px;border-radius:9px}
.component-0127{color:#eb435f;background:#d47460;padding:11px 8px;margin:12px;border-radius:10px}
